@import "compass/typography/lists/bullets";

$background: url(/images/45degreee_fabric.png);
$foreground: #fff;
$line-color: #cacaca;

body {
    background: $background;
    padding: 2em 0;
}
body> header {
    .contain-to-grid {
        background-color: transparent;
    }
}
body> section.main { @include grid-row;
    background: $foreground;
    padding-top: 2em;
    .content {
        @include grid-column($columns:$total-columns,$collapse:false,$float:false);
        box-sizing: border-box;
    }
    padding-bottom: emCalc(24px);
}
body> footer { @include grid-row;
    background: $foreground;
    & > p {
        @include grid-column(10,$center:true);
        border-top: 1px solid $line-color;
    }
    padding-top: emCalc(24px);
}

.disclaimer, .breadcrumbs {
    @include grid-row($behavior:nested);
}
.disclaimer h3 {
    @include grid-column(10,$center:true);
    @include panel($primary-color);
    @include inset-shadow($active:false);
    @include radius;
    text-align: center;
}

.presentation {
    margin-top: 4em;
    @include grid-column(10,$center:true);
    margin-bottom: 6em;
}

.experiences {
    .experience::before{
        margin:1em auto;
        width: 40%;
        border-top: 1px solid $line-color;
    }
    .experience:nth-child(1)::before{
        display: none;
    }
    .experience {
        @include grid-row($behavior:nested);
        margin: emCalc(16px) 0;
        position: relative;
    }

    header {
        @include grid-column(8,$float:right, $offset:0);
        box-sizing: border-box;
    }
    h3 {
    }
    .time {
        text-align:right;
        display:block;
        font-style: italic;
        font-size: emCalc(12px);
    }
    .company {
        font-weight: bold;
    }
    .logo {
        @include grid-column(2,$float:left, $offset:1);
        box-sizing: border-box;
        padding-top: 0.5em;
        min-height: 150px;
        &> div {
            @include thumb;
            width: 130px;
            float: left;
            margin-right: 0.5em;
        }
    }
    .logo img {
        max-height: 130px;
        max-width: 130px;
        margin: auto;
        display:block;
    }
    .logo i {
        font-size: 64px;
    }
    .mission {
        @include grid-column(8);
        box-sizing: border-box;
    }
    div.skills {
        @include grid-column(8, $offset:3);
        box-sizing: border-box;
    }
    ul.skills {
        font-size: emCalc(12px);
        @include inline-list;
        li {
            @include label;
            @include label-style($secondary-color, true);
        }
    }
    .no-skills {
        @include alert;
    }
}


.experience.show {
    @include grid-row($behavior:nested);
    &::before {
        content: " ";
        @include grid-column(1);
        float: right;
        height: 200px;
    }

    .experience-main {
        @include grid-column(7, $offset:1, $float:right);
        box-sizing: border-box;
    }
    .sidebar {
        @include grid-column(2);
        box-sizing: border-box;
        float: right;
    }
    .logo {
        margin-bottom: 1.5em;
    }
    .description {
        text-align: justify;
    }
}

.skill {
    @include grid-row($behavior:nested);

    .related-experiences,
    .related-skills,
    .related-presentations,
    .related-contributions {
        @include grid-column(4,$offset:1);
        box-sizing: border-box;

        li {
            @include no-bullets;
        }
    }
}

.skills-list {
    @include grid-row($behavior:nested);
    header {
        @include grid-column(10, $offset:1);
        box-sizing: border-box;
        margin-top: 2em;
    }
    .category::before{
        content: " ";
        margin: 0.5em auto;
        width: 80%;
        border-top: 1px dashed $line-color;
    }
    .category:nth-child(2)::before{
        display: none;
    }
    .category {
        @include grid-row($behavior:nested);
        border-bottom:1px solid transparent;
    }
    p.name {
        @include grid-column(2, $offset:1);
        box-sizing: border-box;
        font-weight: bold;
        margin-bottom:0;
    }
    .skills {
        @include grid-column(8, $last-column:true);
        box-sizing: border-box;
    }
    .skills ul {
        @include inline-list;
        margin-bottom: 0;
    }
}

.home {
    .contact {
        @include grid-column(3, $offset: 1);
        box-sizing: border-box;
    }
    .last-experiences {
        @include grid-column(4);
        box-sizing: border-box;
        text-align: center;
    }
    .top-skills {
        @include grid-column(3, $last-column:true);
        box-sizing: border-box;
        text-align: right;
    }
    .contact li,
    .last-experiences li,
    .top-skills li {
        @include no-bullets;
    }
}
