body {
    background: $body-background;
    padding: 2em 0;
}
body> header {@include grid-row;
    & .print {display:none;}
    .contain-to-grid {
        background-color: transparent;
    }
}
body> section.main { @include grid-row;
    background: $foreground;
    padding-top: 2em;
    .content {
        @include grid-column($columns:$total-columns,$collapse:false,$float:false);
        @include box-sizing(border-box);
    }
    padding-bottom: emCalc(24px);
    h2 {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}
body> footer { @include grid-row;
    background: $foreground;
    & > p {
        @include grid-column(10,$center:true);
        border-top: 1px solid $line-color;
        padding-top: 1em;
        text-align: center;
        font-style: italic;
    }
    padding-top: emCalc(24px);
}

.disclaimer, .breadcrumbs {
    @include grid-row($behavior:nested);
}
.disclaimer h3 {
    @include grid-column(10,$center:true);
    @include panel($primary-color);
    @include inset-shadow($active:false);
    @include radius;
    text-align: center;
}

.presentation {
    margin-top: 4em;
    @include grid-column(10,$center:true);
    margin-bottom: 6em;
}

.home {
    @include grid-row($behavior:nested);
    .contact {
        @include grid-column(3, $offset:0);
        @include box-sizing(border-box);
        text-align: center;
        ul {
            text-align: left;
            padding-left:0.4em;
        }
    }
    .last-experiences {
        @include grid-column(6);
        @include box-sizing(border-box);
        text-align: center;
    }
    .top-skills {
        @include grid-column(3, $last-column:true);
        @include box-sizing(border-box);
        text-align: right;
        text-align: center;
    }
    .contact li,
    .last-experiences li,
    .top-skills li {
        @include no-bullets;
    }
}
