// Global Foundation Settings
@import "settings";
@import "variables";
@import "normalize";

@import "compass/typography/lists/bullets";

@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/inline-lists";

$font-size: 8pt;

body {
    font-size: $font-size;
}
.hide-on-print {
    display:none;
}

body> section.main,
body> header {
    @include grid-row;
}

body> header .print,
body> section.main .disclaimer,
body> section.main .presentation,
body> section.main .experiences,
body> section.main .skills-list,
body> section.main h2{
    @include grid-column($columns:$total-columns,$collapse:false,$float:false);
    @include box-sizing(border-box);
}

body> header .print-only ul {
    @include no-bullets;
    padding: 0;
    line-height: $font-size * 1.2;
}

body> header .print-only .contact {
    float:right;
}

body> footer p {
    margin-top:180pt;
    text-align: center;
}

body> section.main {
    .disclaimer {
        h3 {
            text-align: center;
            margin: $font-size*2 auto;
            font-size: $font-size*2;
            line-height: $font-size*2.1;
        }
    }
    h2 {
        text-align: center;
        margin: $font-size*2;
        margin-bottom: $font-size*2;
    }
    .presentation {
        text-align: justify;
        line-height: $font-size*1.4;
        margin: 10pt 0;
    }
}

.skills-list {
    header {
        margin-top: 2em;
    }
    .category::before{
        content: " ";
        margin: 0.5em auto;
        width: 97%;
        border-top: 1px dashed $line-color;
    }
    .category:nth-child(2)::before{
        display: none;
    }
    .category {
        @include grid-row($behavior:nested);
        border-bottom:1px solid transparent;
    }
    p.name {
        @include grid-column(3, $offset:0, $collapse:false);
        @include box-sizing(border-box);
        font-weight: bold;
        margin-bottom:0;
        margin-top:0;
        line-height: emCalc(26px);
    }
    .skills {
        @include grid-column(9, $last-column:true, $collapse:false);
        @include box-sizing(border-box);
    }
    .skills ul {
        @include inline-list;
        margin-bottom: 0;
        line-height: emCalc(26px);
    }

    .group:nth-child(2) header {
        margin-top: 0;
    }
}


.experiences {
    .experience::before{
        margin:1em auto;
        width: 40%;
        border-top: 1pt solid $line-color;
    }
    .experience:nth-child(2)::before{
        display: none;
    }
    .experience {
        @include grid-row($behavior:nested);
        margin: 16pt 0;
        position: relative;
    }
    // ensure page break before ORANGE
    .experience:nth-child(7) {
        margin-top: 50pt;
    }
    .experience:nth-child(7)::before{
        display: none;
    }

    header {
        @include grid-column(10,$float:right);
        @include box-sizing(border-box);
    }
    h3 {
    }
    .time {
        text-align:right;
        display:block;
        font-style: italic;
        font-size: emCalc(12px);
    }
    .company {
        font-weight: bold;
    }
    .logo {
        @include grid-column(2,$float:left);
        @include box-sizing(border-box);
        padding-top: 10pt;
        min-height: 70pt;
        &> div {
            width: 70pt;
            float: left;
            margin-right: 10pt;
        }
    }
    .logo img {
        max-height: 70pt;
        max-width: 70pt;
        margin: auto;
        display:block;
    }
    .logo i {
        font-size: 64pt;
    }
    .mission {
        @include grid-column(10);
        @include box-sizing(border-box);
    }
    div.skills {
        @include grid-column(10, $offset:2);
        @include box-sizing(border-box);
    }
    ul.skills {
        font-size: $font-size*0.9;
        @include inline-list;
        li {
            line-height: $font-size*1.2;
        }
    }
    .no-skills {
        font-style: italic;
    }
}

