<div class="contain-to-grid">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Julien Muetton </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="divider"></li>
      <li class="experiences"><a href="#!/experiences">Experience</a></li>
      <li class="divider"></li>
      <li class="skills"><a href="#!/skills">Skill</a></li>
      <li class="divider"></li>
    </ul>
    <ul class="right">
        <li class="print"><a href="#!/print" title="Print"><i class="icon-printer"></i></a></li>
        <li class="code"><a href="https://github.com/themouette/resume" title="View code on github"><i class="icon-fork"></i></a></li>
    </ul>
  </section>
</nav>
</div>
