<div class="presentation">
    <p>
    I'm French and I used to have my own business, building an online
    scheduling app for proximity services. It was both a technical and a
    personal experience: being an architect, a manager, a sysadmin, a developer
    and whatever else it took. I started as the only developer, working from
    home and contracting around. Few years later, company raised some money and
    we saw ourselves up to 6. We finally didn't make it to the market. Product
    could be perfected as every app does, but we mostly lacked sales skills.
    After trying anything we could, as running a consulting company was not my
    goal, I decided to move forward and am now freelancing. All my employees
    had great opportunities.
    </p>
    <p>
    Now that I'm free of responsibility and New Zealand seems to be the hell of
    a place, I would like to come live in Wellington.
    Full with energy, I really love programming and Web based development is
    the coolest thing around those times, sparkling everywhere.
    </p>
</div>
<div class="skills-list">
    <h2>Skills</h2>
    {{{skills}}
</div>
<div class="experiences">
    <h2>Experiences</h2>
    {{{experiences}}
</div>
