<h2>{{skill.title}}</h2>
<p>{{markdown skill.description}}</p>
{{#if skill.url}}
<a href="{{skill.url}}">Official website</a>
{{else}}
{{/if}}
<h3>Related experiences</h3>
<ul>
{{#related}}
    <li>
        {{#if description}}
        <a href="#!/experiences/{{id}}">{{title}}</a>
        {{else}}
        {{title}}
        {{/if}}
        @{{company company}}
    </li>
{{/related}}
</ul>
{{#if skill.related}}
<h3>Related skills</h3>
<ul>
    {{#each skill.related}}
    <li>{{skill this}}</li>
    {{/each}}
</ul>
{{/if}}
{{#if skill.slides}}
<h3>Related presentations</h3>
<ul>
    {{#each skill.slides}}
    <li><a href="{{this.url}}">{{this.title}}</a></li>
    {{/each}}
</ul>
{{/if}}
{{#if skill.contributions}}
<h3>Opensource contributions</h3>
<ul>
    {{#each skill.contributions}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}
