<div class="presentation">
<p>
As a pragmatic programmer, I'm convinced that quality and constant improvement matters to be efficient.<br />
You can find me on <a href="https://twitter.com/themouette">twitter</a> and
<a href="https://github.com/themouette">github</a>.
</p>
<p>
I tried to lauch an online appointment system for a while,
I learned a lot about calendars and runing a business !<br />
I enjoy talking technologies, testing strategies or software architectures.
</p>
<p>
Lately I've been exchanging knowledge and shaking ideas in several cool places.
</p>
</div>

<div class="contact">
    <h3>About</h3>
    <ul>
        <li><i class="icon-twitter"></i> <a href="https://twitter.com/themouette" class="twitter">@themouette</a></li>
        <li><i class="icon-github"></i> <a href="https://github.com/themouette" class="github">themouette</a></li>
        <li><i class="icon-mail"></i> <a href="mailto:julien@muetton.me" class="mail">julien@muetton.me</a></li>
        <li><i class="icon-cupcake"></i> 31 years old</li>
        <li><i class="icon-location"></i> Clermont Ferrand (France)</li>
    </ul>
</div>

<div class="last-experiences">
    <h3>Last experiences</h3>
    <ul>
    {{#experiences}}
        <li>
            {{#if description}}
            <a href="#!/experiences/{{id}}">{{title}}</a>
            {{else}}
            <a href="#!/experiences">{{title}}</a>
            {{/if}}
            @{{company company}}
        </li>
    {{/experiences}}

    </ul>
</div>

<div class="top-skills">
    <h3>Top skills</h3>
    <ul>
        <li>{{skill "javascript"}}</li>
        <li>{{skill "backbone"}}</li>
        <li>{{skill "php"}}</li>
        <li>{{skill "symfony2"}}</li>
        <li>{{skill "vagrant"}}</li>
    </ul>
</div>
