<h2>Experiences</h2>
{{#each experiences}}
<div class="experience">
    <h3>
        {{#if description}}
        <a href="#!/experiences/{{id}}">{{title}}</a>
        {{else}}
        {{title}}
        {{/if}}
        @{{company company}}
    </h3>
    <span class="time">{{time_period from until}}</span>
    <div class="logo">
        {{#if logo}}
        <img src="/images/{{logo}}" />
        {{else}}
        <i class="icon-article" ></i>
        {{/if}}
    </div>
    {{markdown mission}}
    {{#if skills}}
    <ul class="skills">
    {{#each skills}}
    <li>{{skill this}}</li>
    {{/each}}
    </ul>
    {{else}}
    <p class="no-skills">No associated skills.</p>
    {{/if}}
</div>
{{/each}}
