<div class="presentation">
<p>
As a pragmatic programer, I'm convinced that quality and constant improvement matters to be efficient.<br />
You can find me on <a href="https://twitter.com/themouette">twitter</a> and
<a href="https://github.com/themouette">github</a>.
</p>
<p>
I tried to lauch an online appointment system for a while,
I learned a lot about calendars and runing a business !<br />
I enjoy talking technologies, testing strategies or software architectures.
</p>
<p>
Lately I've been exchanging knowledge and shaking ideas in several cool places.
</p>
</div>

